* {
    background-color: rgb(9, 9, 90);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.app-container {
    display: flex;
    flex-direction: column;
    padding: 60px;
    border-radius: 5px;
    border: 4px solid rgb(132, 120, 51);
    margin-left: 90px;
    word-spacing: 5px;
    margin-bottom: 350px;
}
button {
    background-color: rgb(88, 148, 20);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: rgb(165, 178, 150);
    font-size: 1.3rem;
}